body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  color: #000;

}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.main-wrapper {
  width: 1360px;
  margin: 0 auto;
  margin-top: 40px;
  /*background-color: lightgrey;*/
}
/*==================================================Header===================================================*/
.main-header {
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
  min-height: 299px;
  opacity: 0.5;
  background-color: #f0c52e;
}

.main-header-logo {
  width: 100%;
  position: relative;
  bottom: 18px;
  left: 59px;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header-search {
  padding-top: 10px;
  padding-left: 60px;
}

.header-search img {
  margin-top: 4px;
  margin-left: 4px;
}

.header-search input {
  width: 115px;
  height: 15px;
  background-color: transparent;
  border: none;
  position: relative;
  left: 13px;
  bottom: 3px;
  font-size: 15px;
}

.user-navigation {
  display: flex;
  justify-content: space-around;
  min-width: 600px;
}

.user-navigation img:first-child {
  margin-top: 15px;
  margin-right: 17px;
}

.user-enter-button {
  margin: 0;
  padding: 0;
  position: relative;
  right: 87px;
  top: 12px;
  list-style: none;
}

.user-navigation a:nth-child(3) {
  position: relative;
  top: 3px;
  left: 37px;
}

.compare-icon {
  position: relative;
  left: 12px;
}

.user-navigation a:nth-child(4) {
  position: relative;
  right: 17px;
}

.basket-icon {
  position: relative;
  left: 11px;
}

.container-2 {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 22px;
  margin-left: 19px;
}

.site-navigation img {
  position: absolute;
  left: 271px;
  top: 19px;
}

.site-navigation-items {
  list-style: none;
}

.contacts-delivery-information-header ul {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  min-width: 560px;
  display: flex;
  justify-content: space-between;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  list-style: none;
}

.contacts-delivery-information-header ul li:nth-child(2){
  position: relative;
  right: 65px;
 }

.contacts-delivery-information-header ul li:nth-child(3){
  position: relative;
  right: 56px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
