@font-face {
  font-family: 'Gilroy ExtraBold';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v17-cyrillic-300.woff2') format('woff2'),
  url('../fonts/open-sans-v17-cyrillic-300.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.main-wrapper {
  width: 1160px;
  margin: 0 auto;
}

/*==================================================Header===================================================*/

.main-header {
  margin-top: 40px;
  padding: 0 60px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header-logo {
  margin-top: -19px;
  margin-bottom: 28px;
  display: inline-block;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 43px;
}

.header-search {
  padding-top: 5px;
  padding-left: 25px;
  position: relative;
}

.header-search::before {
  content: "";
  background-image: url("../img/svg/search.svg");
  background-size: cover;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 6px;
  left: 3px;
}

.header-search input {
  width: 150px;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  position: relative;
  left: -21px;
  bottom: 5px;
  padding-left: 34px;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.header-search input:hover {
  opacity: 0.6;
}

.header-search input:focus {
  opacity: 1;
}

.search-button {
  display: none;
  position: absolute;
  left: 354px;
  bottom: -13px;
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  font-size: 15px;
}

.search-button:hover {
  display: block;
  color: white;
  background-color: black;
}

.search-button:active {
  display: block;
  color: white;
  background-color: black;
}

.search-button:active span{
  opacity: 0.3;
}

.header-search-input:focus + .search-button {
  display: block;
}

.search-button::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: black;
  width: 441px;
  height: 2px;
}

.user-navigation {
  margin-top: 2px;
  letter-spacing: 0.3px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-navigation a:hover {
  opacity: 0.6;
}

.user-navigation a:active {
  opacity: 0.3;
}

.user-account-links {
  margin: 0;
  margin-right: 207px;
  padding: 0;
  list-style: none;
  display: inline-block;
  position: relative;
}

.enter {
  position: relative;
  padding-left: 30px;
}

.enter::before,
.compare::before,
.basket::before,
.catalog-link::after,
.main-page-link::after,
.catalog-page-link::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.enter::before {
  background-image: url("../img/svg/user.svg");
  width: 13px;
  height: 12px;
  bottom: 3px;
  left: 5px;
}

.enter-footer::before {
  background-image: url("../img/svg/user-footer.svg");
  width: 13px;
  height: 12px;
  bottom: 3px;
  left: 4px;
}

.compare {
  display: inline-block;
  position: relative;
  padding-left: 30px;
}

.compare::before {
  background-image: url("../img/svg/compare.svg");
  width: 10px;
  height: 10px;
  bottom: 2px;
  left: 10px;
}

.compare-footer::before {
  background-image: url("../img/svg/compare-footer.svg");
  width: 10px;
  height: 10px;
  bottom: 2px;
  left: 11px;
}

.basket {
  display: inline-block;
  position: relative;
  margin-right: -1px;
  padding-left: 30px;
}

.basket::before {
  background-image: url("../img/svg/cart.svg");
  width: 12px;
  height: 12px;
  bottom: 2px;
  left: 8px;
}

.basket-footer::before {
  background-image: url("../img/svg/cart-foote.svg");
  width: 12px;
  height: 12px;
  bottom: 2px;
  left: 8px;
}

.container-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 163px;
}

.site-navigation {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
}

.site-navigation-items {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.catalog-link {
  position: relative;
}

.catalog-link span:hover {
  opacity: 0.6;
}

.catalog-link span:active {
  opacity: 0.3;
}

.catalog-link::after {
  background-image: url("../img/svg/plus.svg");
  opacity: 0.3;
  width: 16px;
  height: 16px;
  bottom: 4px;
  right: -26px;
}

.catalog-link-items-wrapper {
  display: none;
  position: absolute;
  width: 1160px;
  height: 163px;
  background-color: #F7E39A;
  z-index: 9;
  left: -60px;
}

.catalog-link:hover + .catalog-link-items-wrapper,
.catalog-link-items-wrapper:hover {
  display: block;
}

.catalog-link-items {
  position: absolute;
  top: 24px;
  left: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  max-width: 551px;
  list-style: none;
}

.catalog-link-items a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-transform: none;
}

.catalog-link-items a:hover {
  opacity: 0.6;
}

.catalog-link-items a:active {
  opacity: 0.3;
}

.catalog-link-items li:nth-child(2) {
  margin-right: 17px;
}

.catalog-link-items li:nth-child(5) {
  margin-right: 225px;
}

.contacts-delivery-information-header ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  list-style: none;
}

.contacts-delivery-information-header ul li:nth-child(1){
  margin-right: 34px;
}

.contacts-delivery-information-header ul li:nth-child(2){
  margin-right: 109px;
}

.contacts-delivery-information-header ul li:nth-child(3){
  margin-right: -4px;
}

.contacts-delivery-information-header a:hover {
  opacity: 0.6;
}
.contacts-delivery-information-header a:active {
  opacity: 0.3;
}

/*==================================================Header-Catalog===================================================*/

.logo-link:hover {
  opacity: 0.6;
}
.logo-link:active {
  opacity: 0.3;
}

.user-account-links-catalog {
  margin-right: 53px;
}

.user-account-links-catalog li:hover {
  opacity: 0.6;
}

.user-account-links-catalog li:active {
  opacity: 0.3;
}

.user-name {
  display: inline-block;
  margin-right: 13px;
  position: relative;
}

.user-name::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../img/svg/user.svg");
  width: 13px;
  height: 12px;
  bottom: 4px;
  left: 4px;
}

.user-name a {
  padding-left: 30px;
}

.user-exit {
  display: inline-block;
  opacity: 0.3;
}

.container-2-catalog {
  padding-bottom: 50px;
}

/*==================================================Main====================================================*/

.main-content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 82px;
}

.slider,
.slider-controls,
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  position: relative;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  background-image: url("../img/svg/slider-button-empty.svg");
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  font-size: 0;
  right: 64px;
  top: 217px;
}

.slide {
  display: none;
}

.product-1:checked ~ .slider-controls label[for="product-1"],
.product-2:checked ~ .slider-controls label[for="product-2"],
.product-3:checked ~ .slider-controls label[for="product-3"] {
  background-image: url("../img/svg/slider-button.svg");
}

.product-1:checked ~ .slider-list .slide1,
.product-2:checked ~ .slider-list .slide2,
.product-3:checked ~ .slider-list .slide3 {
  display: block;
}

.article-slider-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.stiller-stick {
  margin-bottom: 102px;
}

.fit-band {
  margin-bottom: 95px;
}

.quadrocopter {
  margin-bottom: 104px;
}

.article-slider-wrapper::before {
  content: "";
  background-color: white;
  width: 100px;
  height: 7px;
  position: absolute;
  top: -73px;
  left: 600px;
}

.stiller-stick::after {
  content: "01";
}

.fit-band::after {
  content: "02";
}

.quadrocopter::after {
  content: "03";
  z-index: -1;
}

.stiller-stick::after,
.fit-band::after,
.quadrocopter::after {
  color: #fff;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 179px;
  letter-spacing: 1.79px;
  position: absolute;
  top: -136px;
  right: 46px;
}

.quadrocopter-description div:first-child {
  color: #fff;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 179px;
  letter-spacing: 1.79px;
  position: absolute;
  top: -137px;
  right: 46px;
}

.stiller-stick-img-container,
.article-slider-img-container {
  margin-top: -109px;
  margin-left: 90px;
}

.fit-band-img-container {
  margin-top: -101px;
  margin-left: 90px;
}

.quadrocopter-img-container {
  margin-top: -30px;
  margin-left: 18px;
}

.stiller-stick-description {
  margin-right: 80px;
}

.fit-band-description {
  margin-top: -8px;
  margin-right: 122px;
}

.quadrocopter-description {
  top: 16px;
  right: -9px;
  margin-right: 56px;
}

.stiller-stick-description > p:first-child {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 1.19;
  letter-spacing: 0.67px;
  margin-top: -29px;
  margin-bottom: 19px;
}

.fit-band-description > p:first-child {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 1.19;
  letter-spacing: 0.67px;
  margin-top: -21px;
  margin-bottom: 19px;
  z-index: 1;
}

.quadrocopter-description > p:first-child {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 1.19;
  letter-spacing: 0.67px;
  margin-top: -29px;
  margin-bottom: 19px;
  z-index: 1;
}

.article-slider-description > p:nth-child(2) {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
  margin-bottom: 54px;
}

.stiller-stick-description > p:nth-child(2) {
  width: 481px;
}

.fit-band-description > p:nth-child(2) {
  width: 440px;
  margin-bottom: 54px;
}

.quadrocopter-description > p:nth-child(2) {
  width: 480px;
}

.details-link-wrapper {
  margin-bottom: 62px;
}

.stiller-stick-details-link-wrapper {
  margin-left: 1px;
}

.fit-band-details-link-wrapper {
  margin-left: 2px;
}

.slider .button-regular {
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 44px;
}

.button-regular {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #ffc600;
  position: relative;
  padding: 9px 14px;
}

.button-regular span {
  position: relative;
  z-index: 10;
}

.button-regular span:active {
  opacity: 0.3;
}

.button-regular::before,
.button-regular::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  background-color: white;
  transition: height 0.25s ease-in-out;
}

.button-regular::before {
  top: -2px;
  left: 0;
}

.button-regular::after {
  bottom: 0;
  left: 0;
}

.button-regular:hover::before,
.button-regular:hover::after {
  height: 0;
}

.list-of-description,
.article-slider-list-of-description {
  padding: 0;
  list-style: none;
  display: flex;
}

.list-of-description span,
.article-slider-list-of-description span {
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 0.36px;
}

.list-of-description li:first-child,
.article-slider-list-of-description li:first-child {
  margin-right: 78px;
}

.list-of-description li:nth-child(2),
.article-slider-list-of-description li:nth-child(2) {
  margin-right: 76px;
}

.list-of-description p,
.article-slider-list-of-description p {
  margin-top: 14px;
  font-size: 13px;
  letter-spacing: 0.27px;
  color: #464646;
}

.product-icons-container {
  margin-bottom: 163px;
}

.product-icons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-icons-link div {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 33px;
}

.product-icons-link:hover div,
.product-icons-link:active div {
  background-color: rgba(240, 197, 46, 1);
}

.product-icons-link:active img,
.product-icons-link:active p {
  opacity: 0.3;
}

.product-icon-1 img {
  margin-top: 52px;
  margin-left: 31px;
}

.product-icon-2 img {
  margin-top: 41px;
  margin-left: 38px;
}

.product-icon-3 img {
  margin-top: 38px;
  margin-left: 49px;
}

.product-icon-4 img {
  margin-top: 50px;
  margin-left: 28px;
}

.product-icon-5 img {
  margin-top: 32px;
  margin-left: 55px;
}

.product-icon-6 img {
  margin-top: 49px;
  margin-left: 13px;
}

.product-icons p {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.product-icon-1 + p {
  max-width: 160px;
}

.product-icon-2 + p {
  max-width: 124px;
}

.slider-controls-2,
.slider-list-2 {
  margin: 0;
  padding: 0;
}

.slider-2 {
  margin: 0 auto;
  padding: 0;
  background-color: #e5e5e5;
}

.main-wrapper-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-bottom: 69px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 94px;
  margin-left: auto;
}

.slider-controls-2 {
  display: flex;
  flex-direction: column;
  border-right: 7px solid #000;
  padding-top: 80px;
  padding-bottom: 44px;
  margin-top: -100px;
}

.slider-controls-2 label {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #ffc600;
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 16px;
  margin-right: 117px;
  margin-bottom: 25px;
}

.button-regular-2 span {
  position: relative;
  z-index: 10;
}

.button-regular-2:active {
  color: #f7e184;
  background-color: black;
}

.button-regular-2::before,
.button-regular-2::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  background-color: #e5e5e5;
  transition: height 0.25s ease-in-out;
}

.slider-controls-2 .button-regular-2:first-child::before {
  background-color: white;
}

.button-regular-2::before {
  top: -1px;
  left: 0;
}

.button-regular-2::after {
  bottom: 0;
  left: 0;
}

.button-regular-2:hover::before,
.button-regular-2:hover::after {
  height: 0;
}

.slide-2 {
  display: none;
}

.delivery:checked ~ .main-wrapper .slide4,
.guarantee:checked ~ .main-wrapper .slide5,
.credit:checked ~ .main-wrapper .slide6 {
  display: block;
}

.delivery:checked ~ .main-wrapper label[for="delivery"],
.guarantee:checked ~ .main-wrapper label[for="guarantee"],
.credit:checked ~ .main-wrapper label[for="credit"] {
  color: #f7e184;
  background-color: black;
  margin-right: 0;
  padding-right: 133px;
}

.delivery:checked ~ .main-wrapper label[for="delivery"]::before,
.delivery:checked ~ .main-wrapper label[for="delivery"]::after,
.guarantee:checked ~ .main-wrapper label[for="guarantee"]::before,
.guarantee:checked ~ .main-wrapper label[for="guarantee"]::after,
.credit:checked ~ .main-wrapper label[for="credit"]::before,
.credit:checked ~ .main-wrapper label[for="credit"]::after {
  height: 0;
}

.article-slider-2 {
  display: flex;
  justify-content: space-between;
}

.general-description-style p:first-child {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  line-height: 1.02;
  letter-spacing: 0.87px;
}

.delivery-article-description p:first-child {
  margin-top: -26px;
  margin-right: 337px;
  margin-bottom: 31px;
}

.guarantee-article-description p:first-child {
  margin-top: -25px;
  margin-right: 329px;
  margin-bottom: 31px;
}

.credit-article-description p:first-child {
  margin-top: -26px;
  margin-right: 365px;
  margin-bottom: 31px;
}

.general-description-style p:last-child {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.27px;
  color: #464646;
}

.delivery-article-description p:last-child {
  width: 556px;
  padding-right: 84px;
}

.guarantee-article-description p:last-child {
  width: 540px;
  padding-right: 76px;
}

.credit-article-description p:last-child {
  width: 533px;
  padding-right: 100px;
}

.article-slider-2 img {
  margin-top: -15px;
  margin-right: 67px;
}

.delivery-article img {
  margin-top: -15px;
  margin-right: 67px;
}

.guarantee-article img {
  margin-top: -38px;
  margin-right: 47px;
}

.credit-article img {
  margin-top: -39px;
  margin-right: 71px;
}

.our-brands {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}

.our-brands a {
  position: relative;
  display: inline-block;
}

.dji::before,
.sp-gadgets::before,
.go-pro::before,
.vive::before {
  content: "";
  background-image: url("../img/logo-1.png");
  background-color: white;
  position: absolute;
  width: 260px;
  height: 100px;
}

.dji::before {
  background-image: url("../img/logo-1.png");
}

.sp-gadgets::before {
  background-image: url("../img/logo-2.png");
}

.go-pro::before {
  background-image: url("../img/logo-3.png");
}

.vive::before {
  background-image: url("../img/logo-4.png");
}

.dji:hover::before,
.sp-gadgets:hover::before,
.go-pro:hover::before,
.vive:hover::before {
  opacity: 0;
}

.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us {
  position: relative;
}

.about-us::before,
.contacts::before {
  content: "";
  background-color: #000;
  width: 80px;
  height: 7px;
  position: absolute;
  top: -11px;
  left: -1px;
}

.about-us h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  margin-left: -3px;
}

.about-us p,
.contacts p {
  font-size: 15px;
  line-height: 2;
  color: #464646;
}

.about-us p:nth-child(2){
  margin-bottom: 30px;
  padding-right: 122px;
}

.about-us p:nth-child(3){
  margin-bottom: 66px;
  padding-right: 122px;
}

.delivery-companies {
  margin: 0;
  padding-left: 20px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 2.5;
  list-style: none;
  margin-bottom: 56px;
}

.delivery-companies li {
  padding-left: 15px;
  position: relative;
}

.delivery-companies li::before {
  content: '';
  position: absolute;
  top: 18px;
  left: -18px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid lightgray;
}

.about-us a:last-child {
  display: inline-block;
  padding: 9px 22px;
}

.contacts {
  position: relative;
}

.contacts::before {
  top: -11px;
}

.contacts h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
}

.contacts p:nth-child(2) {
  margin-bottom: 39px;
}

.contacts a:nth-child(3) {
  display: block;
  margin-bottom: 68px;
}

.contacts a:nth-child(4) {
  display: inline-block;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 9px 39px;
}

/*==================================================Main-Catalog====================================================*/

.main-heading-catalog-wrapper {
  position: relative;
  padding-top: 35px;
  padding-left: 61px;
  margin-bottom: 46px;
}

.main-heading-catalog {
  margin: 0;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 0.47px;
  margin-bottom: 21px;
}

.main-heading-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-heading-catalog-list li {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.main-heading-catalog-list a {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.main-heading-catalog-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-heading-catalog-list a:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-page-link,
.catalog-page-link {
  margin-right: 33px;
}

.main-page-link::after,
.catalog-page-link::after {
  background-image: url("../img/svg/nav-arrow.svg");
  width: 4px;
  height: 7px;
  bottom: 7px;
  left: 129px;
}

.catalog-page-link::after {
  left: 280px;
}

.wrapper-catalog-grey {
  width: 100%;
  background-color: #ebebeb;
  padding-top: 70px;
}

.wrapper-catalog-white {
  width: 100%;
  background-color: white;
  padding-top: 50px;
}

.filter-sort-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  margin-top: -120px;
}

.filter {
  background-color: #ebebeb;
  position: relative;
}

.filter::before {
  content: "";
  background-color: #ebebeb;
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
  margin-left: -99vw;
}

.filter h2 {
  position: relative;
  margin: 0;
  margin-bottom: 68px;
  padding-top: 23px;
  padding-right: 181px;
  padding-bottom: 23px;
  padding-left: 61px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  background-color: #d9d9d9;
  z-index: 2;
}

.filter h2::before {
  content: "";
  background-color: #d9d9d9;
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  z-index: 1;
  margin-left: -100vw;
}

.filter-form {
  padding-left: 61px;
}

.filter-form fieldset {
  border: none;
  margin-left: -15px;
  position: relative;
}

.filter-fieldset-cost {
  margin-bottom: 27px;
}

.cost {
  margin-bottom: 18px;
}

.range-controls {
  position: relative;
  margin-bottom: 12px;
  padding-top: 14px;
  padding-right: 52px;
  padding-left: 1px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background-color: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 22px;
  padding: 0;
  background-image: url(../img/svg/filter-button.svg);
  cursor: pointer;
}

.range-controls .toggle:active {
  width: 22px;
  height: 24px;
  background-image: url(../img/svg/filter-button-big.svg);
}

.range-controls .toggle-min {
  left: -3px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls label {
  margin-right: 4px;
}

.price-controls input {
  width: 36px;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #ebebeb;
}

.price-controls input[name='minimal-price'] {
  margin-right: 37px;
}

.filter-form legend {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.18px;
  padding-top: 14px;
}

.filter-form legend:before {
  content: "";
  width: 201px;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 14px;
}

.filter-fieldset-color input:focus + label,
.filter-fieldset-bluetooth input:focus + label {
  outline: solid 2px #f0c52e;
}

.filter-fieldset-color {
  margin-bottom: 1px;
}

.list-of-colors {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.list-of-colors li {
  position: relative;
  margin-top: 22px;
  margin-left: 41px;
}

.list-of-colors li:first-child {
  margin-top: 27px;
}

.list-of-colors label {
  font-size: 14px;
}

.list-of-colors label::before {
  content: "";
  width: 28px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: -40px;
}

.black-color:checked + label::before,
.white-color:checked + label::before,
.blue-color:checked + label::before,
.red-color:checked + label::before,
.pink-color:checked + label::before {
  background-image: url("../img/svg/checkbox-on.svg");
  background-repeat: no-repeat;
}

.list-of-colors input:hover + label::before,
.list-of-colors input + label:hover::before{
  opacity: 0.6;
}

.list-of-colors input:active + label::before,
.list-of-colors input + label:active::before{
  opacity: 1;
}

.list-of-colors input:disabled + label {
  color: #a6a6a6;
}

.list-of-colors input:disabled + label::before {
  opacity: 0.25;
}

.filter-fieldset-bluetooth {
  margin-bottom: 5px;
}

.bluetooth-yes-no {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.bluetooth-yes-no li {
  position: relative;
  margin-top: 23px;
  margin-left: 41px;
}

.bluetooth-yes-no label {
  font-size: 14px;
}

.bluetooth-yes-no label:before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-off.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -2px;
  left: -40px;
}

.bluet-yes:checked + label:before,
.bluet-no:checked + label:before {
  background-image: url("../img/svg/radio-on.svg");
  background-repeat: no-repeat;
}

.bluetooth-yes-no input:hover + label::before,
.bluetooth-yes-no input + label:hover::before{
  opacity: 0.6;
}

.bluetooth-yes-no input:active + label::before,
.bluetooth-yes-no input + label:active::before{
  opacity: 1;
}

.bluetooth-yes-no input:disabled + label {
  color: #a6a6a6;
}

.bluetooth-yes-no input:disabled + label::before {
  opacity: 0.25;
}

.button-regular-3 {
  border: none;
  padding-right: 38px;
  padding-left: 40px;
}

.button-regular-3::before,
.button-regular-3::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 17px;
  background-color: #ebebeb;
  transition: height 0.25s ease-in-out;
}

.sort-and-product {
  width: 100%;
}

.sort-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-bottom: 50px;
  position: relative;
  align-items: center;
  padding: 26px 1px;
}

.sort-bar h2 {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0;
  margin-left: 72px;
}

.sort-type {
  display: flex;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-left: -155px;
  padding: 0;
  list-style: none;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-type-first-item a {
  color: #000;
}

.sort-type a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-type a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-type li {
  margin-right: 31px;
}

.sort-buttons {
  margin-right: -19px;
}

.sort-buttons label[for="ascending"],
.sort-buttons label[for="descending"] {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-right: 17px;
  cursor: pointer;
  opacity: 0.2;
}

.sort-buttons label[for="ascending"] {
  background-image: url("../img/svg/icon-up-dir.svg");
}

.sort-buttons label[for="descending"] {
  background-image: url("../img/svg/icon-down-dir.svg");
}

.ascending:hover + label,
.descending:hover + label {
  opacity: 0.4;
}

.ascending:active + label,
.descending:active + label {
  opacity: 1;
}

.ascending:checked + label,
.descending:checked + label {
  opacity: 1;
}

.sort-buttons input:focus + label {
  outline: solid 2px #f0c52e;
}

.catalog-of-product {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 68px;
  margin-right: 0;
  margin-left: 72px;
  list-style: none;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.catalog-item {
  position: relative;
}

.catalog-item:before {
  content: 'NEW';
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 1;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding-top: 20px;
  width: 61px;
  height: 61px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  display: none;
}

.catalog-of-product li:nth-child(4):before {
  display: block;
}

/*=========================================================hover==========================================*/

.catalog-hover-block-wrapper {
  position: relative;
  margin-bottom: 34px;
}

.catalog-hover-block {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 23px;
}

.catalog-hover-block:hover {
  opacity: 1;
  z-index: 1;
}

.catalog-hover-block:hover + img  {
  opacity: 0.7;
}

.add-in-basket {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  padding: 9px 36px;
}

.add-in-basket span {
  position: relative;
  z-index: 4;
}

.add-in-basket:active span {
  opacity: 0.3;
}

.add-in-basket::before,
.add-in-basket::after {
  content: '';
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 2;
  background-color: #f0c52e;
  transition: height 0.25s ease-in-out;
}

.add-in-basket::before {
  top: 16px;
}

.add-in-basket::after {
  bottom: 16px;
}

.add-in-basket:hover::before,
.add-in-basket:hover::after {
  height: 25px;
}

.catalog-hover-block button {
  border: none;
  background-color: transparent;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 2.77;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
}

.catalog-hover-block button:hover {
  color: rgba(0, 0, 0, 1);
}
.catalog-hover-block button:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-of-product li {
  margin-bottom: 47px;
}

.catalog-of-product img:hover {
  background-color: #eeeeee;
  opacity: 0.7;
}

.catalog-of-product p {
  display: inline-block;
  margin-top: 36px;
  margin-left: 12px;
}

.catalog-of-product li:nth-child(2n) {
  margin-left: 38px;
}

.catalog-of-product img {
  display: block;
}

.title-and-price {
  display: flex;
  justify-content: space-between;
}

.title-and-price p {
  margin: 0;
  font-family: "Gilroy Light", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  text-align: right;
  color: #464646;
}

.title-and-price-prof-stick a {
  width: 171px;
}

.title-and-price-follow-me a {
  width: 222px;
}

.pagination {
  margin-left: 73px;
}

.pagination ul {
  list-style: none;
}

.pagination button {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  border: none;
  background-color: #ebebeb;
  padding-top: 24px;
  padding-right: 27px;
  padding-bottom: 23px;
  padding-left: 27px;
}

.pagination button:hover {
  background-color: #d9d9d9;
}

.pagination-button-back:active span,
.pagination-button-forward:active span{
  opacity: 0.3;
}

.pagination a {
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.3;
}

.pagination a:hover {
  opacity: 0.6;
}

.pagination a:active {
  opacity: 1;
}

.pagination-first-page a,
.pagination-first-page a:hover {
  opacity: 1;
}

.pagination-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  padding: 0;
  margin-top: -29px;
  margin-bottom: 76px;
}

.pagination-pages {
  display: flex;
}

.pagination-pages li {
  margin-right: 29px;
}

/*=================================================Footer==================================================*/

.main-footer-wrapper {
  margin: 0 auto;
  background-color: #464646;
}

.main-footer {
  width: 1193px;
  margin: 0 auto;
  color: white;
  padding-top: 65px;
  padding-right: 16px;
  padding-bottom: 65px;
  padding-left: 16px;
}

.main-footer a {
  color: white;
}

.container-1-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.container-1-footer::after {
  content: "";
  background-color: #ffc600;
  width: 80px;
  height: 7px;
  position: absolute;
  top: 173px;
  left: 0;
}

.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}

.user-navigation-footer {
  margin-top: 5px;
}

.user-navigation-footer span {
  opacity: 0.7;
}

.user-account-links-footer {
  margin-right: 32px;
}

.enter-footer {
  position: relative;
  padding-left: 30px;
}

.compare-basket-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.compare-basket-links li {
  display: inline-block;
}

.compare-basket-links li:first-child {
  display: inline-block;
  margin-right: 28px;
}

.enter-footer::before,
.compare-footer::before,
.basket-footer::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.user-navigation-footer a:hover,
.user-navigation-footer span:hover {
  opacity: 1;
}

.enter-footer:hover::before,
.compare-footer:hover::before,
.basket-footer:hover::before,
.user-name-footer:hover::before {
  opacity: 0.6;
}

.user-navigation-footer a:active,
.user-navigation-footer span:active {
  opacity: 0.3;
}

.user-navigation-footer li:hover span {
  opacity: 1;
}

.address {
  display: flex;
  justify-content: space-between;
}

.address p {
  font-size: 15px;
}

.contacts-delivery-information-footer{
  margin-top: -31px;
  margin-bottom: 67px;
  margin-left: 368px;
}

.contacts-delivery-information-footer ul li:nth-child(2){
  margin-right: 31px;
}

.container-3-footer {
  display: flex;
  justify-content: flex-end;
}

.social-network-icon {
  margin-right: 463px;
}

.social-network-icon a {
  display: inline-block;
  opacity: 0.3;
  margin-right: 19px;
}

.social-network-icon a:hover {
  opacity: 0.6;
}

.social-network-icon a:active {
  opacity: 0.1;
}

.html-academy-icon a {
  display: inline-block;
}

.html-academy-icon a:hover {
  opacity: 0.6;
}

.html-academy-icon a:active {
  opacity: 0.3;
}

/*=================================================Footer-Catalog==================================================*/

.user-name-footer {
  position: relative;
}

.user-name-footer::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url("../img/svg/user-footer.svg");
  width: 13px;
  height: 12px;
  bottom: 3px;
  left: 4px;
}

/*=================================================POP-UP===================================================*/

.modal {
  position: fixed;
  color: #000;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  z-index: 25;
}

.modal-form {
  top: 50%;
  left: 50%;
  display: none;
  width: 960px;
  height: 553px;
  background-color: #fff;
  margin-top: -276px;
  margin-left: -480px;
  padding-top: 96px;
  padding-right: 100px;
  padding-bottom: 92px;
  padding-left: 100px;
  font-family: "Gilroy ExtraBold", Arial, sans-serif;
  font-size: 18px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-form div {
  display: flex;
  justify-content: space-between;
}

.modal-form div:nth-child(2) {
  display: block;
  margin-top: 35px;
}

.modal-form input {
  font-family: "Open Sans Light", Arial, sans-serif;
  width: 360px;
  height: 50px;
  opacity: 0.5;
  font-size: 14px;
  background-color: #f2f2f2;
  border: none;
  display: block;
  padding-left: 20px;
  margin-top: 8px;
  outline: none;
}

.modal-form input:hover {
  background-color: #eaeaea;
}

.modal-form input:focus {
  opacity: 1;
  border: solid 3px #f0c52e;
  background-color: white;
  color: #464646;
}

.modal-form input:invalid {
  border: none;
  opacity: 1;
  background-color: #f6dada;
}

.error {
  border: none;
  opacity: 1;
  background-color: #f6dada;
}

.modal-form textarea {
  font-family: "Open Sans Light", Arial, sans-serif;
  width: 100%;
  height: 156px;
  resize: none;
  opacity: 0.5;
  font-size: 14px;
  background-color: #e5e5e5;
  border: none;
  display: block;
  padding-top: 16px;
  padding-left: 20px;
  margin-top: 9px;
  margin-bottom: 43px;
  outline: none;
}

.modal-form textarea:focus {
  opacity: 1;
  border: solid 3px #f0c52e;
  background-color: white;
  color: #464646;
}

.button-send-modal {
  border: none;
  padding-right: 33px;
  padding-left: 35px;
  outline: none;
}

.modal-map {
  top: 50%;
  left: 50%;
  display: none;
  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -480px;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border: 0;
  background-image: url(../img/svg/modal-close.svg);
  cursor: pointer;
  opacity: 0.5;
  outline: none;
  z-index: 2;
}

.modal-close:hover {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/*===========================================================================================================*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
