@font-face {
    font-family: 'Gilroy ExtraBold';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('Gilroy-ExtraBold.woff');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy Light';
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('Gilroy-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v17-cyrillic-300.woff2') format('woff2'),
  url('../fonts/open-sans-v17-cyrillic-300.woff') format('woff');
}
